/* Контент */

body{
	background-color: #111;
	color: #fff;
}

section{
	height: 100%;
	padding-top: 40px;
}

.boxes-user-orders{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

	.user-form-box{
		height: max-content;
		width: max-content;
		background-color: #333;
		border-radius: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 30px;
	}
			.user-form form{
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
			}
				.form-person-info{
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 100%;
				}
					.user-avatar-box{
						width: 100%;
						display: flex;
						flex-direction: row;
						justify-content: space-around;
						margin-bottom: 30px;
					}
						.user-avatar{
							display: flex;
							justify-content: center;
							width: 150px;
							height: 150px;
							overflow: hidden;
							margin: -110px 0px 0px 0px;
							border-radius: 100%;
						}
							.user-avatar img{
								height: 100%;
							}
				.form-person-info-inputs{
					width: 100%;
					display: flex;
					flex-direction: column;
				}
					
					.person-fls, .username-email{
						display: flex;
						flex-direction: row;
						justify-content: space-around;
						width: 100%	;
					}
						.person-fls{
							margin-bottom: 20px;
						}
						.user-image-browse{
							margin-bottom: 20px;
						}
					.form-input{
						display: flex;
						flex-direction: column;
						width: 100%;
						margin-bottom: 20px;
						margin-right: 20px;
					}
						.form-input:last-child{
							margin-right: 0px;
						}
					.form-input label{
							font-size: 12px;
							margin-bottom: 2px;
						}
						.form-input input{
							cursor: pointer;
							transition: 0.2s;
							border: 1px solid #333;
							border-bottom: 1px solid #03DAC5;
							padding: 10px 20px;
							color: #fff;
							background-color: #333;
							margin-bottom: 10px;
						}
							.form-input input:hover{
								border-bottom: 1px solid #fff;
							}
							.form-input input:last-child{
								margin-bottom: 0px;
							}

				.btns{
					display: flex;
					flex-direction: row;
					align-items: center;
				}
					.submit-btn{
						margin-top: 20px;
						margin-right: 20px;
					}
					.submit-btn:last-child{
						margin-right: 0px;
					}
						.submit-btn input{
							cursor: pointer;
							padding: 10px 20px;
							color: #111;
							background-color: #03DAC5;
							border: 1px solid #03DAC5;
							border-radius: 7px;
							transition: 0.2s;
						}
							.submit-btn input:hover{
								background-color: #333;
								color: #03DAC5;
							}
						.submit-btn a{
							font-size: 14px;
							padding: 10px 20px;
							color: #111;
							background-color: #BB86FC;
							border: 1px solid #BB86FC;
							border-radius: 7px;
							transition: 0.2s;
						}
							.submit-btn a:hover{
								background-color: #333;
								color: #BB86FC;
							}

	.user-orders-box{
		margin-left: 20px;
		width: 600px;
		height: 100%;
		background-color: #333;
		border-radius: 25px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 30px;
	}
		.user-orders-box h3{
			font-size: 22px;
			font-weight: 400;
			margin-bottom: 30px;
		}

		.orders{
			display: flex;
			flex-direction: column;
			width: 100%;
		}
			.order{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				padding-bottom: 20px;
				margin-bottom: 20px;
				border-bottom: 1px solid #03DAC5;
			}
			.order:last-child{
				padding-bottom: 0px;
				margin-bottom: 0px;
				border-bottom: none;
			}
			.order-name-room{
				max-width: 160px;
			}
				.order h4{
					font-size: 16px;
					margin-bottom: 5px;
				}
				.order p{
					font-size: 16px;
				}
				.order-date .mgtop{
					margin-top: 12px;
				}
				.btn-for-delete-order .order-delete-btn{
					transition: 0.2s;
					font-size: 13px;
					cursor: pointer;
					padding: 10px 20px;
					color: #111;
					background-color: #BB86FC;
					border: 1px solid #BB86FC;
					border-radius: 7px;
				}
					.btn-for-delete-order .order-delete-btn:hover{
						background-color: #333;
						color: #BB86FC;
					}