<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">

	<link rel="stylesheet" type="text/css" href="static/css/about-room.css">

</head>
<body>
	<nav class="section">
		<a href="index.html" class="logo white-font">Отель</a>
		<div class="nav-btns">
			<a href="about-us.html" class="white-font">О нас</a>
			<a href="gallery.html" class="reserve-btn white-font">Галерея</a>
			<a href="#" class="autentification-btn white-font">Вход</a>
		</div>
	</nav>
	<section class="section">
		<h1 class="section-title">Honeymoon Suite</h1>
		<div class="about-room-box">
			<div class="imgs-room">
				<div class="img-room"><img src="static/img/image-room.jpg" alt=""></div>
				<div class="img-room"><img src="static/img/image-room.jpg" alt=""></div>
				<div class="img-room"><img src="static/img/image-room.jpg" alt=""></div>
				<div class="img-room"><img src="static/img/image-room.jpg" alt=""></div>
			</div>
			<div class="name-price-box">
				<h2>
					Honeymoon Suite
				</h2>
				<div class="points">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div class="price">
					<h3>Цена за сутки: </h3>
					<p>$ 123</p>
				</div>
				<a href="booking.html" class="white-font"> Забронировать </a>
			</div>
			<div class="about-room">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Ducimus accusantium nihil officia asperiores cumque sit molestiae, rerum animi est ex esse quos nesciunt, exercitationem, consequatur laborum. Nobis, in omnis. Illo.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, sed, expedita dignissimos voluptas labore dolore totam modi rerum dicta nostrum molestiae laudantium autem tempora molestias necessitatibus eveniet dolor quibusdam aliquam!</p>
			</div>
			<div class="room-services">
				<div class="service-box">
					<div class="ico"></div>
					<h4>Service</h4>
				</div>
				<div class="service-box">
					<div class="ico"></div>
					<h4>Service</h4>
				</div>
				<div class="service-box">
					<div class="ico"></div>
					<h4>Service</h4>
				</div>
				<div class="service-box">
					<div class="ico"></div>
					<h4>Service</h4>
				</div>
				<div class="service-box">
					<div class="ico"></div>
					<h4>Service</h4>
				</div>
				<div class="service-box">
					<div class="ico"></div>
					<h4>Service</h4>
				</div>
				<div class="service-box">
					<div class="ico"></div>
					<h4>Service</h4>
				</div>
				<div class="service-box">
					<div class="ico"></div>
					<h4>Service</h4>
				</div>
			</div>
			<div class="reviews">
				<h2>Отзывы от наших гостей:</h2>
				<div class="review-box">
					<div class="reviewer">
						<div class="reviewer-photo">
							<img src="static/img/heqw.jpg" alt="">
						</div>
						<h5 class="reviewer-name">
							John
						</h5>
					</div>
					<div class="review">
						<h4>Комментарий:</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nihil excepturi commodi, reiciendis tempore maxime molestias doloremque corporis eligendi cupiditate, ducimus ut nesciunt atque dicta, maiores, voluptas quasi non placeat.</p>
					</div>
				</div>
				<div class="review-box">
					<div class="reviewer">
						<div class="reviewer-photo">
							<img src="static/img/heqw.jpg" alt="">
						</div>
						<h5 class="reviewer-name">
							John
						</h5>
					</div>
					<div class="review">
						<h4>Комментарий:</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nihil excepturi commodi, reiciendis tempore maxime molestias doloremque corporis eligendi cupiditate, ducimus ut nesciunt atque dicta, maiores, voluptas quasi non placeat.</p>
					</div>
				</div>
				<div class="review-box">
					<div class="reviewer">
						<div class="reviewer-photo">
							<img src="static/img/heqw.jpg" alt="">
						</div>
						<h5 class="reviewer-name">
							John
						</h5>
					</div>
					<div class="review">
						<h4>Комментарий:</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nihil excepturi commodi, reiciendis tempore maxime molestias doloremque corporis eligendi cupiditate, ducimus ut nesciunt atque dicta, maiores, voluptas quasi non placeat.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="section">
		<p>2023 Билялова К.Т.</p>
	</footer>
</body>
</html>